<script>
import TopSideBar from "./topsidebar.vue";
import TopTrunk from "./toptrunk.vue";

export default {
  name: "TopProject",
  components: {
    TopSideBar,
    TopTrunk,
  },
  props: {
    subprj: String,
  },
};
</script>

<template>
  <div id="topproject">
    <TopSideBar />
    <TopTrunk />
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#topproject {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100%;
}
</style>
