<script>
export default {
  name: "TopSideBar",
  props: {
    subprj: String,
  },
  methods: {
    select: function (event) {
      alert(`id: ${event.currentTarget.id}, hello ${this.name}`);
    },
  },
};
</script>

<template>
  <div id="topsidebar">
    <div id="topsidebartitle">Top Side Bar</div>
    <div id="sideitems">
      <div class="item-prj" id="prj1" @click="select($event)">Top item 1</div>
      <div class="item-prj-sub">sub top item 1</div>

      <div class="item-prj item-prj-current">Top item 2</div>
      <div class="item-prj" id="prj3" @click="select($event)">Top item 3</div>
    </div>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#topsidebar {
  background-color: #eaeaea;
  color: #3f3f3f;
  padding: 0;
  margin: 0;
  border-right: 1px solid #afafaf;
  font-size: 14px;
}
#topsidebartitle {
  padding: 5px 5px 5px 10px;
}
#sideitems {
  padding: 10px 0px 10px 1px;
}
.item-prj {
  padding: 5px 0px 2px 15px;
  border-top: 1px solid #afafaf;
}
.item-prj-sub {
  padding: 1px 0px 1px 30px;
}
.item-prj,
.item-prj-sub {
  background-color: #f5f5f5;
  color: #5f5f5f;
  cursor: pointer;
  margin: 0px 1px 0px 1px;
}
.item-prj:hover,
.item-prj-sub:hover {
  /*
  background-color: #afafaf;
  color: #1f1f1f;
   */
  background-color: rgb(26, 115, 232);
  color: #e0e0e0;
}

.item-prj-current {
  /*
  background-color: #a0c1ff;
  color: #3e3e3e;
   */
  background-color: rgb(26, 115, 232);
  color: #e0e0e0;
  font-weight: 500;
  margin-right: 0px;
}
.item-prj-current:hover {
  background-color: #0071c5;
  color: #fafafa;
}
</style>
