<script>
export default {
  name: "TopTrunk",
  props: {
    subprj: String,
  },
};
</script>

<template>
  <div id="toptrunk">
    <div id="project-view">
      <p>Top Trunk</p>
    </div>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#toptrunk {
  background-color: #fefefe;
  color: #3f3f3f;
  padding: 0;
  border: 1px solid #ffffff;
}

#project-view {
  background-color: #fefeef;
  min-height: 100%;
}
</style>
