<script setup lang="ts">
const props = defineProps({
  msg: String,
  firstname: String,
});
</script>

<template v-cloak>
  <div id="footermain">
    <ul>
      <li>{{ firstname }}</li>
      <li>{{ firstname }}</li>
      <li>{{ firstname }}</li>
      <li>{{ firstname }}</li>
    </ul>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#footermain {
  background-color: #0071c5;
  /*
   */

  background-color: #d0d0d0;
  color: #001728;

  overflow: hidden;
  padding: 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-top: solid 1px #afafaf;
}
ul {
  padding: 0px;
  margin: 0px 0px 0px 5px;
  list-style-type: none;
}
li {
  border: solid 1px;
  border-radius: 600px;
  margin: 0px 0px;
  padding: 1px 20px 1px 20px;
  float: left;
}
li:hover {
  border: solid 1px #323436;
  color: #ffffff;
  background-color: #323436;
}
</style>
