<script setup lang="ts">
const props = defineProps({
  msg: String,
  firstname: String,
});
</script>

<template>
  <div id="headermain" v-cloak>
    <div id="headernav">
      <h3>{{ msg }}</h3>
      <ul>
        <li>{{ firstname }}</li>
        <li>{{ firstname }}</li>
        <li>{{ firstname }}</li>
        <li>{{ firstname }}</li>
        <li>{{ firstname }}</li>
      </ul>
    </div>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#headermain {
  background-color: #0071c5;
  color: #f5f5f5;
  background-color: #d0d0d0;
  color: #001728;

  overflow: hidden;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-bottom: solid 1px #afafaf;
}
#headernav {
  margin: 0px;
  font-size: 14px;
}
h3 {
  margin: 0 0 0 auto;
  padding: 1px 15px 1px 10px;
  float: left;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
li {
  border: solid 1px;
  margin: 0px;
  padding: 1px 20px 1px 20px;
  float: left;
}
li:hover {
  border: solid 1px #323436;
  color: #ffffff;
  background-color: #323436;
}
</style>
