<script setup lang="ts">
import MainHeader from "./components/mainheader.vue";
import MainFooter from "./components/mainfooter.vue";
import MainBody from "./components/mainbody/mainbody.vue";
</script>

<template>
  <MainHeader msg="Main Header" firstname="John" />
  <MainBody msg="Main Header" firstname="John" />
  <MainFooter msg="Main Header" firstname="John" />
</template>

<style>
@import "./assets/base.css";

html,
body,
#app {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

#app {
  display: grid;
  grid-template-rows: 50px 1fr 35px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
